body{
  background: url(../images/fond_bleu.jpg)no-repeat center fixed;
  background-size: cover;
  font-family: 'Courier New';
  position: -ms-page;
  margin-top: 50vh; /* poussé de la moitié de hauteur de viewport */
  transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
}

.connexion, .login, .password, .titre_login{
  display: block;
  text-align: center;
  margin: 0 auto;
}

.lost{
  display: inline-block;
  margin-top:25px;
}
