
body{
    background: url(../images/fond_bleu.jpg)no-repeat center fixed;
    background-size: cover;
    font-family: 'Courier New';
    text-align: center;
    position: absolute;
    margin-top: 50vh; /* poussé de la moitié de hauteur de viewport */
    transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
  }

.inscription{
    display: block;
    text-align: center;
    margin: 0 auto;
  }