<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd"> 
<web-app> 
	<display-name>Twister</display-name> 
	<servlet> 
		<servlet-name>CreateUser</servlet-name> 
		<servlet-class>servlets.CreateUser</servlet-class> 
	</servlet>
	<servlet> 
		<servlet-name>Login</servlet-name> 
		<servlet-class>servlets.Login</servlet-class> 
	</servlet>
		<servlet> 
		<servlet-name>Logout</servlet-name> 
		<servlet-class>servlets.Logout</servlet-class> 
	</servlet>
	<servlet> 
		<servlet-name>AddFriend</servlet-name> 
		<servlet-class>servlets.AddFriend</servlet-class> 
	</servlet>
	<servlet> 
		<servlet-name>RemoveFriend</servlet-name> 
		<servlet-class>servlets.RemoveFriend</servlet-class> 
	</servlet>
	<servlet> 
		<servlet-name>ListFriend</servlet-name> 
		<servlet-class>servlets.ListFriend</servlet-class> 
	</servlet>
	<servlet> 
		<servlet-name>AddMessage</servlet-name> 
		<servlet-class>servlets.AddMessage</servlet-class> 
	</servlet>
	<servlet> 
		<servlet-name>RemoveMessage</servlet-name> 
		<servlet-class>servlets.RemoveMessage</servlet-class> 
	</servlet>
	<servlet> 
		<servlet-name>ListMessage</servlet-name> 
		<servlet-class>servlets.ListMessage</servlet-class> 
	</servlet>
	<servlet> 
		<servlet-name>LostPassword</servlet-name> 
		<servlet-class>servlets.LostPassword</servlet-class> 
	</servlet>
	<servlet> 
		<servlet-name>ChangePassword</servlet-name> 
		<servlet-class>servlets.ChangePassword</servlet-class> 
	</servlet>
	<servlet> 
		<servlet-name>LikeMessage</servlet-name> 
		<servlet-class>servlets.LikeMessage</servlet-class> 
	</servlet>
	<servlet> 
		<servlet-name>unlikeMessage</servlet-name> 
		<servlet-class>servlets.unlikeMessage</servlet-class> 
	</servlet>
	<servlet> 
		<servlet-name>RemoveUser</servlet-name> 
		<servlet-class>servlets.RemoveUser</servlet-class> 
	</servlet>
		<servlet> 
		<servlet-name>GetKey</servlet-name> 
		<servlet-class>servlets.GetKey</servlet-class> 
	</servlet>
	<servlet-mapping> 
		<servlet-name>CreateUser</servlet-name> 
		<url-pattern>/CreateUser</url-pattern> 
	</servlet-mapping>
		<servlet-mapping> 
		<servlet-name>Login</servlet-name> 
		<url-pattern>/Login</url-pattern> 
	</servlet-mapping> 
	<servlet-mapping> 
		<servlet-name>Logout</servlet-name> 
		<url-pattern>/Logout</url-pattern> 
	</servlet-mapping>
	<servlet-mapping> 
		<servlet-name>AddFriend</servlet-name> 
		<url-pattern>/AddFriend</url-pattern> 
	</servlet-mapping>
		<servlet-mapping> 
		<servlet-name>RemoveFriend</servlet-name> 
		<url-pattern>/RemoveFriend</url-pattern> 
	</servlet-mapping>
	<servlet-mapping> 
		<servlet-name>ListFriend</servlet-name> 
		<url-pattern>/ListFriend</url-pattern> 
	</servlet-mapping>
	<servlet-mapping> 
		<servlet-name>AddMessage</servlet-name> 
		<url-pattern>/AddMessage</url-pattern> 
	</servlet-mapping>
	<servlet-mapping> 
		<servlet-name>RemoveMessage</servlet-name> 
		<url-pattern>/RemoveMessage</url-pattern> 
	</servlet-mapping>
	<servlet-mapping> 
		<servlet-name>ListMessage</servlet-name> 
		<url-pattern>/ListMessage</url-pattern> 
	</servlet-mapping>
	<servlet-mapping> 
		<servlet-name>LostPassword</servlet-name> 
		<url-pattern>/LostPassword</url-pattern> 
	</servlet-mapping>
	<servlet-mapping> 
		<servlet-name>ChangePassword</servlet-name> 
		<url-pattern>/ChangePassword</url-pattern> 
	</servlet-mapping>
	<servlet-mapping> 
		<servlet-name>LikeMessage</servlet-name> 
		<url-pattern>/LikeMessage</url-pattern> 
	</servlet-mapping>
	<servlet-mapping> 
		<servlet-name>unlikeMessage</servlet-name> 
		<url-pattern>/unlikeMessage</url-pattern> 
	</servlet-mapping>
	<servlet-mapping> 
		<servlet-name>RemoveUser</servlet-name> 
		<url-pattern>/RemoveUser</url-pattern> 
	</servlet-mapping>
	<servlet-mapping> 
		<servlet-name>GetKey</servlet-name> 
		<url-pattern>/GetKey</url-pattern> 
	</servlet-mapping>
</web-app>